.container {
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
}

.panel {
  height: 50px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}

.panelButtons {
  margin: 0 12px;
}

.fileTabsContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.fileTab {
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #eaeaea;
  border-bottom-color: #fff;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  bottom: -1px;
  position: relative;

  span {
    font-size: 12px;
  }
}

.windowBtn {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.windowCloseBtn {
  background-color: #ff5f56;
}
.windowMinimazeBtn {
  background-color: #ffbd2e;
  margin-left: 8px;
}
.windowFullScreenBtn {
  background-color: #27c93f;
  margin-left: 8px;
}

.codePlace {
 display: flex;
}

.stringCodeContainer {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;

  span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    border-right: 0.15em solid black;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
